<div class=" form border mx-auto py-4">
<h2 class="text-center label">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-box mx-auto p-2">
    <%= f.label :email,:class=>"label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"type-box" %>
  </div>

  <div class="form-box mx-auto p-2">
    <%= f.submit "Send reset password instructions", :class=>"type-box btn"%>
  </div>
<% end %>
<div class="link_box">
<%= render "devise/shared/links" %>
</div>
</div>