<% if @album.images.attached? %>
  <% @album.images.each_with_index do |image, index|%>
    <div class="p-0 image_box  m-1 col" data-bs-toggle="modal" data-bs-target=<%='#a'+index.to_s%>>  
      <div class="text-center ">
        <%= image_tag image, :class=>"image"%>  
      </div> 
    </div>
    <div class="modal fade" id=<%='a'+ index.to_s%> data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= image_tag image,  class:"container-fluid image"%>
          </div>
          <div class="modal-footer">
              <% if current_user == @album.user %>
                <%= link_to "Delete",purge_album_path(image), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                  },:class=>"btn btn-dark text-capitalize" %>
              <%end%> 
            <%= link_to "download", rails_blob_path(image, disposition: 'attachment'),class: 'btn btn-dark text-capitalize'  %>
          </div>
        </div>
      </div>
    </div>  
  <%end%>
<%else%>
   <h4>No images uploaded</h4>
<%end %>




