<div class=" explore ">
  <div class="my-2 search_box ">
    <%= search_form_for @q, url: :root do |form| %>
      <div class="d-flex search_form mx-auto">
        <%= form.text_field :tags_name_cont, class:"container-md search p-2", placeholder: "Search by tag names"%>
        <%= form.submit class:"btn  search_btn"%>
      </div>
    <%end%>
    <h3 class="line my-4 text-center"> Search Your Favourite Albums...</h3>
    <br>
    <%= render "tag"%>
  </div>

  <hr>
  <div class="my-5">
    <% if @albums.empty? %>
      <p class="text-center alb">No albums found.</p>
    <% else %>
      <ul class="container-xxl justify-content-center mx-auto row">
        <% @albums.each do |album|%>
          <div class="p-1 album_box m-1 col text-capitalize">    
            <% if album.images.attached? %>         
             <%= image_tag album.images.first, :class=>"image"%>
            <%else%>
             <%= image_tag "no-image.png", :class=>"image" %>
            <%end%> 
            <div class="middle">
              <%= link_to album.title, album_path(album),:class=>"text" %>
            </div>                 
          </div>      
        <%end%>
      </ul>
    <%end %>
  </div>
</div>