
<div class="explore mx-auto ">
  <div class="p-4 container rounded head">
    <div class="row">
      <div class="container-fluid  mt-2  col">
        <div class="container row " >
          <% if current_user != @album.user %>            
            <h1 class="name  "><%= current_user.name%></h1>
          <%end%>
          <div class="row container " >
          <h2 class="name col "><%= @album.title%></h2> <%= link_to "Edit", edit_album_path, :class=>" links col "%>
          </div>
          <h6 class="name "><%= @album.description%></h6>
          <h6 class="name "><%= @album.all_tags%></h6>
          <% if current_user == @album.user %>
            <%= link_to "Delete", album_path(@album), data: {
                 turbo_method: :delete,
                 turbo_confirm: "Do you want to delete the Album?"
                 }, :class=>"links"  %>
          <%end%> 
          <div><p class="count mt-3">Total pictures: <%= @album.images.count%></p></div>
        </div>
      </div>
    </div> 
  </div>

  <hr>
 
  <div class="container mt-5 ">
    <div class=" justify-content-start mx-auto m-4 row">
      <%= form_with model: @album do |form| %> 
        <%= form.submit "Upload", class:"links col-4" %>
        <%= form.file_field :images, multiple: true, :class=>"field col-7" %>
      <%end%>
    </div>
    <% if current_user == @album.user %>
      <div class=" container ">
        <%= link_to "Delete All posts", delete_all_album_path(@album), data: {
                   turbo_method: :delete,
                   turbo_confirm: "Do you want to delete all your posts?"
                 }, :class=>"p-1 links" %>
      </div>
    <%end%>
  </div>
 
  <div class="container mt-5 ">
    <div class="container-xxl justify-content-center mx-auto row">
      <%= render "image" %>
    </div>
  </div> 
</div>
